* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFCD29;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 100px;

}

header {
    display: flex;
    justify-content: space-around;
}

header li {
    list-style: none;
    margin: 20px;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu {
    display: flex;
    border-radius: 50px;
    margin-top: 25px;
}

li .doces:hover{
    color: #E78C84!important;
} 

li .acai:hover{
    color: #ff01dd!important;
} 

.banner {
    text-align: center;
}

.banner img {
    height: 600px;
    width: 1300px;
    border-radius: 10px;
}

.menu a:hover {
    color: rgb(0, 0, 0);

}

.underline::before {
    content: " ";
    display: inline-block;
    width: 10px;
    /* Largura do "risco" */
    height: 35px;
    /* Altura do "risco" */
    background-color: rgb(224, 101, 0);
    /* Cor do "risco" */
    margin-right: 10px;
    /* Espaço entre a palavra e o "risco" */

}

.section_novidades h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.div_novidades img {
    width: 350px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
}

.div_novidades {
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.div_novidades ul {
    list-style: none;
}

.div_novidades button {
    background: #000000;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}

.section_hall h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.div_hall img {
    width: 350px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
}

.div_hall {
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.div_hall ul {
    list-style: none;
}

.div_hall button {
    background: #000000;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}

footer {
    margin-top: 70px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    opacity: 80%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    

}

footer a {
    margin-top: 90px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: #FD99A2;
}