* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #840360;
    font-family: "Roboto", sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    width: 100px;
  }
  
  .menu {
    display: flex;
    border-radius: 50px;
    margin-top: 25px;
  }
  
  header li {
    list-style: none;
    margin: 20px;
    font-size: 25px;
  }
  
  header a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .button_home {
    background-color: #840360;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    color: #ffffff;
    font-size: 22px;
    margin-top: 20px;
    border: none;
    transition: background-color 0.5s ease;

  }
  
  .button_home:hover {
    color: #000000;
    background-color: rgb(36, 155, 66);
    transition: background-color 0.5s ease;
  }
  
  .button_doces {
    background-color: #840360;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    color: #ffffff;
    font-size: 22px;
    margin-top: 20px;
    border: none;
    transition: background-color 0.5s ease;

  }
  
  .button_doces:hover {
    color: #000000;
    background-color: #fd99a2;
    transition: background-color 0.5s ease;
  }
  
  .button_salgados {
    background-color: #840360;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    color: #ffffff;
    font-size: 22px;
    margin-top: 20px;
    border: none;
    transition: background-color 0.5s ease;

  }
  
  .button_salgados:hover {
    color: #000000;
    background-color: #ffcd29;
    transition: background-color 0.5s ease;
  }
  
  .banner {
    text-align: center;
  }
  
  .img-banner {
    width: 95vw; /* 95% da largura da tela */
    height: 80vh; /* 80% da altura da tela */
    border-radius: 10px;
  }
  
  .section_novidades h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
  }
  
  .underline::before {
    content: " ";
    display: inline-block;
    width: 10px;
    /* Largura do "risco" */
    height: 35px;
    /* Altura do "risco" */
    background-color: rgb(36, 155, 66);
    /* Cor do "risco" */
    margin-right: 10px;
    /* Espaço entre a palavra e o "risco" */
  }
  
  .div_novidades {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  
  .div_novidades ul {
    list-style: none;
  }
  
  .div_novidades img {
    width: 28vw;
    height: 48vh;
    margin: 20px;
    border-radius: 20px;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
  }

  .div_novidades img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .div_novidades button {
    background: #000000;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    transition: background-color 0.5s ease;
  }
  
  .div_novidades button:hover {
    background-color: rgb(36, 155, 66);
    color: #000000;
  }
  
  .section_hall{
    margin-bottom: 6%;
  }
  .section_hall h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
  }
  
  .div_hall {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  
  .div_hall ul {
    list-style: none;
  }
  
  .div_hall img {
    width: 28vw;
    height: 48vh;
    margin: 20px;
    border-radius: 20px;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
  }
  
  .div_hall img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .div_hall button {
    background: #000000;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    transition: background-color 0.5s ease;
  }
  
  .div_hall button:hover {
    background-color: rgb(36, 155, 66);
    color: #000000;
  }
  
  hr{
    
  }
  footer {
    margin-top: 5%;
    text-align: center;
   
  }
  
  .section_redes{
    display: flex;
  }

  footer ul{
    
  }

  .div_redes{
    
  }
  
  .redes{
    list-style: none;
    text-align: end;
    display: flex;
     
  }

  .wpp img{
    width: 16%;
  
  }

  .insta img{
    width: 4%;
    display: block;
  }

  .insta a{
    display: block;
    padding: 0;

  }

  .face img{
    width: 20%;
    display: block;
  }

  .redes li{
    display: block;
  }
  
  .section_redes{
  
  }

    
